name: pipes
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.7

dependencies:
  audioplayers: ^6.5.1
  confetti: ^0.8.0
  flutter:
    sdk: flutter
  google_fonts: ^8.0.2
  haptic_feedback: ^0.6.4+3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
  - assets/sounds/